<div class="l-more">
    <div class="l-banner">
        <p>جهت مشاهده لیست تمامی مطالب / بلاگ لطفا بر روی دکمه روبرو کلیک نمائید</p>
        <a [routerLink]="['/blogs/list']" >مشاهده تمام بلاگ ها</a>
        <div class="clear"></div>
    </div>
</div>

<div class="recent-projects">
    <h4>آخرین بلاگ ها</h4>
    <div class="border"></div>
    <ul class="dark">
        <li class="column3" *ngFor="let blog of latestBlog">
            <img [src]="domainName + '/images/blog/origin/'+blog.imageName" alt="{{blog.title}}">
            <h4>{{blog.title}}</h4>
            <p>{{blog.title}}</p>
            <a [routerLink]="['/blogs/blog',blog.id, blog.title]" class="details">ادامه مطلب</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>