<footer>
	<div class="inner-footer dark">

		<div class="about column3">
			<h4>دسترسی سریع</h4>
			<ul>
				<li><a [routerLink]="['/gallery']">گالری تصاویر</a></li>
				<li><a [routerLink]="['/blogs/list']" >بلاگ ها </a></li>
				<li><a [routerLink]="['/contactus']">تماس با ما</a></li>

			</ul>
		</div>


		<div class="text-widget column3 ">
			<h4>شبکه های اجتماعی</h4>
			<div *ngIf="socials.length">

				<a
				class="text-white "
				*ngFor="let social of socials"  
				style="cursor: pointer; text-decoration: none;" 
				(click)="gotoUrl(social.link)" >
					<i 
					[className]="social.icon"
					style="margin-right: 8px;">
					</i>
				</a>


		</div>
		</div>

		<div class="contact column6" *ngIf="addresses.length">
			<h4>تماس با ما</h4>
			<div *ngFor="let addr of addresses">
				<p>
					<i class="fas fa-city"></i>
					{{addr.city}}</p>
				<p>
					<i class="fas fa-map-marker-alt"></i>
					{{addr.address}}</p>
				<p>
					<i class="fas fa-mobile"></i>
					{{addr.cellPhone}}</p>
				<p>
					<i class="fas fa-phone"></i>
					{{addr.telephone}}</p>
				<p>
					<i class="fas fa-clock"></i>
					{{addr.workHour}}</p>
				<br />
			</div>

		</div>
		<div class="clear"></div>
		<!-- End Contact -->
		<div id="back-to-top">
			<a href="#top">بازگشت به بالا</a>
		</div>
	</div>
	<!-- End inner Footer -->

	<div class="end-footer">
		<div class="lastdiv">
			<div class="copyleft">
				©کلیه حقوق مادی و معنوی برای دکتر پیام ابوالحسنی محفوظ می باشد
			</div>


			<div class="clear"></div>
		</div>
	</div>
</footer>