<footer>
	<div class="inner-footer dark">

		<div class="about column3">
			<h4>درباره ما</h4>
			<ul>
				<li><a href="#">ما کی هستیم</a></li>
				<li><a href="#">چه کار می کنیم</a></li>
				<li><a href="#">آنچه ما ارائه می دهیم</a></li>
				<li><a href="#">ماموریت ما</a></li>
				<li><a href="#">دیدگاه ما</a></li>
			</ul>
		</div>

		<div class="service column3">
			<h4>خدمات</h4>
			<ul>
				<li><a href="#">دندان های سفید</a></li>
				<li><a href="#">دندانپزشکی</a></li>
				<li><a href="#">اشعه ایکس</a></li>
				<li><a href="#">خدمات</a></li>
			</ul>
		</div>

		<div class="text-widget column3">
			<h4>ویجت متن</h4>
			<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
				متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
				کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
		</div>

		<div class="contact column3" *ngIf="addresses.length">
			<h4>تماس با ما</h4>
			<div *ngFor="let addr of addresses">
				<p>{{addr.city}}</p>
				<p>{{addr.address}}</p>
				<p>{{addr.cellPhone}}</p>
				<p>{{addr.telephone}}</p>
				<p>{{addr.workHour}}</p>
				<br />
			</div>

		</div>
		<div class="clear"></div>
		<!-- End Contact -->
		<div id="back-to-top">
			<a href="#top">بازگشت به بالا</a>
		</div>
	</div>
	<!-- End inner Footer -->

	<div class="end-footer">
		<div class="lastdiv">
			<div class="copyleft">
				©کلیه حقوق مادی و معنوی برای مجموعه برنامه نویسان محفوظ می باشد
			</div>

			<div class="f-socials" *ngIf="socials.length">

					<a
					*ngFor="let social of socials"  
					style="cursor: pointer; text-decoration: none;" (click)="gotoUrl(social.link)" >
						<i 
						[className]="social.icon"
						style="margin-right: 8px;">
						</i>
					</a>


			</div>
			<div class="clear"></div>
		</div>
	</div>
</footer>