<div class="book-form">
    <div class="inner-form">

      <h4><img src="../../../../assets/images/calendar.png" alt="">رزرو وقت ملاقات
      </h4>
      <form id="contact-form2" action="#">
        <div class="inputs">
          <input name="name" id="name" type="text" data-value="نام">
          <input name="mail" id="mail" type="text" data-value="آدرس ایمیل">
          <input name="phone" id="phone" type="text" data-value="تلفن همراه">
          <input name="date" id="date" type="text" data-value="DD / MM / YYYY 00:00">
        </div>

        <input id="submit_contact2" type="submit" value="قرار ملاقات">
        <div id="msg2" class="message"></div>
      </form>

    </div>
  </div>