<div class="book-form">
    <div class="inner-form">

      <h4><img src="../../../../assets/images/calendar.png" alt="">رزرو وقت ملاقات
      </h4>
      <form [formGroup]="appointmentForm" id="contact-form2" (ngSubmit)="SendAppointmentRequest()">
        <div class="inputs">
          <input name="name" id="name" formControlName="name" placeholder="نام و نام خانوادگی" type="text" />
          <input name="mail" id="mail" formControlName = "email" placeholder="ایمیل" type="text" />
          <input name="phone" id="phone" formControlName="telephone" placeholder="تلفن" type="text" />
          <input name="cellPhone" id="date" formControlName="cellPhone" placeholder="موبایل" type="text" >
        </div>

        <input id="submit_contact2" type="submit" value="قرار ملاقات">
        <div id="msg2" class="message"></div>
      </form>

    </div>
  </div>