<div class="features dark">
    <div class="features-items column3">
        <a href="#">
            <div class="service-item">
                <a href="#" class="service-img"><img src="../../../../assets/images/scope.png" alt=""></a>
            </div>
            <h4>ضربان سنج</h4>
            <div class="line"></div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </a>
    </div>
    <div class="features-items column3">
        <a href="#">
            <div class="service-item">
                <a href="#" class="service-img"><img src="../../../../assets/images/diograph.png" alt=""></a>
            </div>
            <h4>الکتروکاردیوگرافی</h4>
            <div class="line"></div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </a>
    </div>
    <div class="features-items column3">
        <a href="#">
            <div class="service-item">
                <a href="#" class="service-img"><img src="../../../../assets/images/care.png" alt=""></a>
            </div>
            <h4>مراقبت از کودکان</h4>
            <div class="line"></div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </a>
    </div>
    <div class="features-items column3">
        <a href="#">
            <div class="service-item">
                <a href="#" class="service-img"><img src="../../../../assets/images/ambulance.png" alt=""></a>
            </div>
            <h4>24/7 آمبولانس</h4>
            <div class="line"></div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </a>
    </div>
    <div class="clear"></div>
</div>