<div class="features dark">
    <div class="features-items column3">
        <a  >
            <div class="service-item">
                <a   class="service-img"><img src="../../../../assets/images/scope.png" alt=""></a>
            </div>
            <div class="line"></div>
        </a>
    </div>
    <div class="features-items column3">
        <a  >
            <div class="service-item">
                <a   class="service-img"><img src="../../../../assets/images/diograph.png" alt=""></a>
            </div>
            <div class="line"></div>
        </a>
    </div>
    <div class="features-items column3">
        <a  >
            <div class="service-item">
                <a  class="service-img"><img src="../../../../assets/images/care.png" alt=""></a>
            </div>
            <div class="line"></div>
        </a>
    </div>
    <div class="features-items column3">
        <a  >
            <div class="service-item">
                <a  class="service-img"><img src="../../../../assets/images/ambulance.png" alt=""></a>
            </div>
            <div class="line"></div>
        </a>
    </div>
    <div class="clear"></div>
</div>