
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner" *ngIf="sliders !== null && sliders.length > 0 ">
      <div class="carousel-item" *ngFor="let slider of sliders; index as md" [ngClass]="{active: md === 0}">
        <img 
        [src]="domain + '/images/slider/origin/'+slider.imageName" 
        class="d-block w-100"
        height="500px"
        alt="{{slider.description}}">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Book Apointment -->
  <app-book-appointment></app-book-appointment>
  <!-- End Book Apointment -->

</div>


