<div class="banner">
	<div class="inner-banner">
		<div class="note">گالری تصاویر</div>
		<div class="site-map">
			<a href="index.html">خانه</a> &gt; گالزی تصاویر
		</div>
		<div class="clear"></div>
	</div>
</div>


<!-- Container -->
<div class="wrapper">

	<div id="container">

		<nav aria-label="Page navigation example">
			<ul class="pagination">
			  <li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
				  <span aria-hidden="true">&laquo;</span>
				</a>
			  </li>
			  <li class="page-item"><a class="page-link" href="#">1</a></li>
			  <li class="page-item"><a class="page-link" href="#">2</a></li>
			  <li class="page-item"><a class="page-link" href="#">3</a></li>
			  <li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
				  <span aria-hidden="true">&raquo;</span>
				</a>
			  </li>
			</ul>
		  </nav>
		<div id="ourHolder" *ngIf="filterImage !== undefined">
			<div class="item treat" *ngFor="let image of filterImage.images">
				<div class="view view">
					<img [src]="domainName + '/images/gallery/origin/'+image.imageName" alt="{{image.description}}" />
				
				</div>
			</div>

		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
			  <li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
				  <span aria-hidden="true">&laquo;</span>
				</a>
			  </li>
			  <li class="page-item"><a class="page-link" href="#">1</a></li>
			  <li class="page-item"><a class="page-link" href="#">2</a></li>
			  <li class="page-item"><a class="page-link" href="#">3</a></li>
			  <li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
				  <span aria-hidden="true">&raquo;</span>
				</a>
			  </li>
			</ul>
		  </nav>
	</div>

</div>
<!-- End Wrapper -->