<div class="banner">
	<div class="inner-banner">
		<div class="note">گالری تصاویر</div>
		<div class="site-map">
			<a href="index.html">خانه</a> &gt; گالزی تصاویر
		</div>
		<div class="clear"></div>
	</div>
</div>


<!-- Container -->
<div class="wrapper">

	<div id="container">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<!-- Example single danger button -->

			  <li 
			  class="page-item cursor-pointer" 
			  (click) = "prevPage()">

				<a class="page-link" aria-label="Previous">
				  <span aria-hidden="true">&laquo;</span>
				</a>
			  </li>
			  <li 
			  class="page-item cursor-pointer" 
			  (click) = "setPage(page)"
			  [ngClass]="{active: page === filterImage.activePage}" 
			  *ngFor="let page of pages">
				  <a class="page-link ">{{page}}</a>
			  </li>

			  <li 
			  class="page-item cursor-pointer"
			  (click) = "nextPage()">
 
			  
				<a class="page-link" aria-label="Next">
				  <span aria-hidden="true">&raquo;</span>
				</a>
			  </li>

			
			</ul>
			
		  </nav>
		<div id="ourHolder" *ngIf="filterImage !== undefined">
			<div class="item treat" *ngFor="let image of filterImage.images">
				<div class="view view">
					<img [src]="domainName + '/images/gallery/origin/'+image.imageName" alt="{{image.description}}" />
				
				</div>
			</div>

		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<!-- Example single danger button -->

			  <li 
			  class="page-item cursor-pointer" 
			  (click) = "prevPage()">

				<a class="page-link" aria-label="Previous">
				  <span aria-hidden="true">&laquo;</span>
				</a>
			  </li>
			  <li 
			  class="page-item cursor-pointer" 
			  (click) = "setPage(page)"
			  [ngClass]="{active: page === filterImage.activePage}" 
			  *ngFor="let page of pages">
				  <a class="page-link ">{{page}}</a>
			  </li>

			  <li 
			  class="page-item cursor-pointer"
			  (click) = "nextPage()">
 
			  
				<a class="page-link" aria-label="Next">
				  <span aria-hidden="true">&raquo;</span>
				</a>
			  </li>

			
			</ul>
			
		  </nav>
	</div>

</div>
<!-- End Wrapper -->