<header class="sticky-top">


    <div class="subheader clearfix">
        <div class="inner-subheader">
            <div class="phone" *ngIf="defaultMobile">
                <h4>
                    {{defaultMobile}}
                </h4>
            </div>

            <div class="subheader2">
                <ul>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >صفحه اصلی</a></li>
                    <li><a [routerLink]="['/gallery']" routerLinkActive="router-link-active" >گالری</a></li>
                    <li><a [routerLink]="['/blogs/list']" routerLinkActive="router-link-active" >وبلاگ</a></li>
                </ul>				
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="logo">
                <a class="mr-3" [routerLink]="['/']"><img src="./assets/images/payam.JPG" style="width: 30%; height: 30%;" alt="درباره دکتر پیام ابوالحسنی"></a>
            </div> <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" >
                        <a class="nav-link active" aria-current="page" [routerLink]="['/']"
                            routerLinkActive="router-link-active">صفجه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/gallery']"
                            routerLinkActive="router-link-active">گالری</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/blogs/list']"
                            routerLinkActive="router-link-active">وبلاگ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/about']"
                            routerLinkActive="router-link-active">درباره</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/contactus']"
                            routerLinkActive="router-link-active">تماس با ما</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</header>