<header class="sticky-top">
		
    <div class="subheader clearfix">
        <div class="inner-subheader">
            <div class="phone">+38646 123 456</div>

            <div class="subheader2">
                <ul>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >صفحه اصلی</a></li>
                    <li><a href="#">ورود به سایت</a></li>
                    <li><a href="#">خبرنامه</a></li>
                    <li><a [routerLink]="['/blogs']" routerLinkActive="router-link-active" >وبلاگ</a></li>
                </ul>				
            </div>
        </div>
    </div>

    <div class="row2">
    <div class="upper-header">
        
        <div class="logo">
            <a href="#"><img src="../../../assets/images/logo.png" alt=""></a>
        </div>					
        
        <!-- Navigation -->
        <nav id="nav">
            <ul id="navlist" class="sf-menu clearfix">
                <li><a [routerLink]="['/']" routerLinkActive="router-link-active">صفحه اصلی</a>
                </li>
                <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >درباره ما</a></li>
                <li><a [routerLink]="['/gallery']" routerLinkActive="router-link-active" >گالری</a></li>
                <li><a [routerLink]="['/blogs']" routerLinkActive="router-link-active" >وبلاگ</a></li>
                <li><a [routerLink]="['/contactus']" routerLinkActive="router-link-active" >تماس با ما</a></li>
            </ul>
        </nav>
        <!-- Navigation -->  
        <div class="clear"></div>
   </div>  
   <!-- End Upper Header -->
   </div>
   <!-- End Row2 -->
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
</header>

