li:hover{
    background-color: #2190d7;
    box-shadow: 4px 4px 4px gray;
    color: white;
}
li {
    border-radius: 10%;
    margin-right: 5px;
    font-weight: 700;
    font-size: 18px;
}
header{
    opacity: 0.8;
}