<div class="clear"></div>
	<div class="banner">
	<div class="inner-banner">
		<div class="note">دکتر پیام ابوالحسنی</div>
		<div class="site-map">
    	<a [routerLink]="['/']" routerLinkActive="router-link-active" >خانه</a> &gt; درباره دکتر
		</div>
	<div class="clear"></div>
	</div>
	</div>
	

	<!-- Container -->
	<div class="wrapper">
        <div class="row mb-5 d-flex justify-content-sm-center">
            <div class="col-md-6 col-sm-12 mb-2 d-flex align-items-sm-center">
                <img src="./assets/images/payam.JPG" width="70%" height="100%">
            </div>
            <div class="col-md-6 col-sm-12" [innerHTML] = "text">

    </div>
        </div>
    </div>
