<div class="clear"></div>
	<div class="banner">
	<div class="inner-banner">
		<div class="note">اطلاعات تماس</div>
		<div class="site-map">
    	<a [routerLink]="['/']" routerLinkActive="router-link-active" >خانه</a> &gt; تماس با ما
		</div>
	<div class="clear"></div>
	</div>
	</div>
	

	<!-- Container -->
	<div class="wrapper">
		<div class="contact-row dark">
			<div class="contact2 column4">
				<h4>اطلاعات تماس</h4>
				<div class="border"></div>
				<p class="home">لورم ایپسوم متن</p>
				<p class="phone2">+399 (500) 321 9548</p>
				<p class="mail">info@barnamenevisan.org</p>
			</div>


			<div class="msg-form column8">
				<h4>ارسال پیام</h4>
				<div class="border"></div>
				<form  id="contact-form" action="#">
					<input name="name" id="name" type="text" data-value="نام">
					<input name="mail" id="mail" type="text" data-value="ایمیل">
					<input name="subject" id="subject" type="text" data-value="وب سایت">
					<textarea name="comment" id="comment"placeholder="پیام"></textarea>
					<input type="submit" id="submit_contact" value="ارسال">
	  				<div id="msg" class="message"></div>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- End Wrapper -->

